.movie-carousels {
    padding: 50px 150px;
}

.movie-card {
    max-width: 200px;
    height: 300px;
    border: transparent 2px solid !important;
}

.input-labels {
    width: 100px;
    justify-content: center;
}

#loading {
    padding: 300px;
}

.spinner-border {
    width: 100px;
}

#error-msg {
    padding: 200px 0;
    margin: 0 400px;
}

body {
    background-image: url("../img/audience.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.highlight {
    border: yellow solid 3px;
}

:root {
    --animate-delay: 2s;
}